{% extends 'page.html' %}
{% load search_filters %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}search/js/main.js"></script>
<script type="text/javascript">
{% if last_visit %}
// TODO There is probably a better way to do this
akorn.last_visit = "{{ last_visit|date:"c" }}";
{% endif %}
// When the document has loaded start the show
$(document).ready(akorn.init);
</script>
{% endblock %}

{% block container %}
<div class="row-fluid">
    <div class="span9 search" id="search_bar">
        <form action="/search/" method="get" class="form-inline">
            <input type="hidden" name="q" placeholder="Search for journals and keywords…" id="search">
            <button id="save_search" class="btn btn-primary" title="Save this search">Save filter</button>
        </form>
    </div>
</div>

<div id="main_row" class="row-fluid">
    <div class="span2">
        <ul id="saved_searches">
            {% for q_id, q in saved_searches.items %}
                {% spaceless %}
                <li data-query="{{ q.queries|to_json|escapejs }}" id="{{ q_id }}">
                <span class="count">
                    {% if q.count > 0 %}
                        {{ q.count|query_count }}
                    {% endif %}
                </span>
                <span data-queryid="{{ q_id }}" class="delete">&times;</span>
                <div class="terms">
                    <p>{{ q|short_label }}</p>
                </div>
                </li>
                {% endspaceless %}
            {% endfor %}
        </ul>
    </div>

    <div id="articles_container" class="span10">
        <ul id="articles">
        </ul>
    </div>
</div>
{% endblock %}
