{% extends 'page.html' %}
{% load search_filters %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}search/js/main.js"></script>
<script type="text/javascript">
{% if last_visit %}
// TODO There is probably a better way to do this
akorn.last_visit = "{{ last_visit|date:"c" }}";
{% endif %}
// When the document has loaded start the show
$(document).ready(akorn.init);
</script>
{% endblock %}

{% block container %}
<div class="row-fluid">
    <div class="span9 search" id="search_bar">
        <form action="/search/" method="get" class="form-inline">
            <input type="hidden" name="q" placeholder="Search for journals and keywords…" id="search">
            <button id="save_search" class="btn btn-primary" title="Save this search">Save search</button>
        </form>
    </div>
</div>

<div id="main_row" class="row">
    <div class="span3">
        <ul id="saved_searches">
        </ul>
        {% if not request.user.is_authenticated %}
        <a style='display:block;padding:0.5em;margin:0.5em;margin-left:25px;width:10em;' href='{% url "accounts:register" %}'>Sign up to keep your saved searches</a>
        {% endif %} 
    </div>

    <div id="articles_container" class="span8">
        <div id='intro'>
          <p>To create a search, start by typing in names of journals or keywords in the box above and press 'enter' to finish.</p>
          <p>Names of journals will autocomplete and then you can select the journal you want.</p>
          <p>For keywords, just type a series of keywords that you want to be ANDed together and press 'enter'.</p>
          <p>'Save search' will keep the search as a convenient link in the left hand column.</p>
        </div>
        <ul id="articles">
        </ul>
        <div id="msg" style="display: none">
        </div>
    </div>
</div>
{% endblock %}
