{% extends 'page.html' %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}search/js/main.js"></script>
<script type="text/javascript">
// When the document has loaded start the show
$(document).ready(function() {
        var ak = akorn;
        var query = [{'type': 'journal', 'id': '{{ journal.id }}'}];
        ak.query = query;
        ak.articles_container = $('#articles');
        ak.get_articles(query, true);
        $(window).scroll(ak.throttle(function() {
            ak.check_position();
        }, 250));
    });
</script>
{% endblock %}

{% block container %}
<div id="content" class="container-fluid">

<div class="row-fluid">
    <div class='span12 box_title'>
        <h1>{{ journal.name }}</h1>
    </div>
</div>

<div class="row-fluid">
    <div class='span8 box_date'>
      Also known as: {% for alias in journal.aliases %}{{ alias }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
</div>

<div class="row-fluid">
    <div class=''></div>
    <div class='span8 offset3 box_articles'>
        <ul id='articles'>
        </ul>
    </div>
</div>

</div>
{% endblock %}
