.stream-item {
    margin: 10px;
    padding: 10px;
}

div.abstract {
  text-align:justify;
  line-height:1.7em;
  font-size:1.1em;
}

.navbar {
    margin-bottom: 0px;
}
.navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.container_12 {
    margin-top:0;
    padding-top:1em;
}
div.search {
    border-left: 0.3em solid silver;
    border-right: 0.3em solid silver;
}

.tagit input{box-shadow: none;}

#latest_articles {
    margin-left:0;
}

.tagit {
    width: 80%;
    margin: 0 auto !important;
}

#latest_articles h2 {
    font-size:140%;
    color:silver;
    margin:1em 0;
    padding:0;
    line-height:1;
    border-bottom: 0.15em solid silver;
}

#latest_articles a {
    text-decoration: underline;
}

#latest_articles li {
    padding-left: 2em;
    list-style: none;
    margin-bottom: 1em;
}

#latest_articles li p.abstract {
    text-align: justify;
}

#latest_articles li h3 {
    font-size:120%;
}

#latest_articles li span.original a{
    color: #aaa;
    font-size: 80%;
}

#latest_articles li span.journal {
    font-style: italic;
}

/* /doc/ page */
.box_inner {
  padding:5px;
}

.box_authors .author_name {
  font-size:1.2em;
  margin-bottom:0.2em;
  color:#336;
}

.box_date {
  font-size:1.2em;
  color:#AAA;
}

.box_date strong {
  font-weight:normal;
  color:#333;
}
