# ignore the sql db
akorn_search/db

# Exclude the egg info folder, as this is dynamically generated
akorn_search.egg-info
akorn_search/local_settings.py

# Ignore the collectedstatic directory
akorn_search/collectedstatic

# Exclude compiled files
*.pyc

# Exclude Mac files
.DS_Store
*.py~

# Excluse sass-cache
.sass-cache
