# Complied python files
*.pyc

# vim swap files
*.swp

# Stupud directory caches
.DS_Store

# The Django collected static files dir
collectedstatic

# Dumps of couch for local setup
dumps/*

local_settings.py
db/
