{% extends 'page.html' %}
{% load search_filters %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}search/js/json2.js"></script>
<script src="{{ STATIC_URL }}search/js/tag-it.js"></script>
<script src="{{ STATIC_URL }}search/js/main.js"></script>
{% if last_visit %}
<script type="text/javascript">
// TODO There is probably a better way to do this
akorn.last_visit = "{{ last_visit|date:"c" }}";
// When the document has loaded start the show
$(document).ready(akorn.init);
</script>
{% endif %}

<style>
  table.journals_table {

  }

  table.journals_table thead tr {
    text-align:center;
    border-bottom:1px solid #666;
  }

  tr.table-row td {
   margin:0.25em;
   padding:0.25em;
  }
  
  tr.table-row td ul {
    list-style:none;
    font-size:0.9em;
  }

  tr.table-row td {
    vertical-align:top;
  }

  tr.table-row-False {
    background:#F9F9F9;
  }
</style>
{% endblock %}

{% block content %}
<div class="span9 search">
  <h2>{{ journal.name }}</h3>
  <ul>
  {% for alias in journal.aliases %}
    <li>{{ alias }}</li>
  {% endfor %}
  </ul>
  <p>Total number of docs: {{ docs|length }}</p>
  <p>Number to rescrape: {{ num_rescrape }}</p>
  <p>Scrapers used:
    <ul>
      {{ scraper_journals }}
      {% for scraper in scraper_modules %}
        <li>{{ scraper }}</li>
      {% endfor %}
    </ul>
  </p>
</div>

<div class="span3">

</div>
{% endblock %}
