{% load i18n assets %}
<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="{{ STATIC_URL }}search/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}search/css/ui-lightness/jquery-ui-1.8.22.custom.css">

        {% assets "search_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        <link rel="stylesheet" href="{{ STATIC_URL }}search/css/jquery.tagit.css">
        <title>Akorn {% block pagetitle %}{% trans "open science" %}{% endblock %}</title>
        {% block canonical %}{% endblock %}
        {% block og_meta %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="{% url "main" %}">AKORN</a>
                <ul class="nav">
                    <li><a href="{% url "about" %}">{% trans "About" %}</a></li>
                    <li><a href="http://blog.akorn.org/">{% trans "Blog" %}</a></li>
                </ul>
                <p class="lead pull-right">{% trans "Research in a nut shell" %}</p>
                <ul id="account-bar">
                    {% if request.user.is_authenticated %}
                    <li>{{ request.user }}</li>
                    <li><a href="{% url "auth_logout" %}">{% trans "Log out" %}</a></li>
                    {% else %}
                    <li><a href="{% url "accounts:register" %}">{% trans "Sign up" %}</a></li>
                    <li><a href="{% url "auth_login" %}?next={{ request.path }}">{% trans "Log in" %}</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>

        {% block container %}
        <div id="content" class="container-fluid">
            <div class="row-fluid">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        {% endblock %}
    {% block scripts %}
        {% assets "search_js_libs" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}
    </body>
</html>
