{% load i18n assets %}{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        {% block style %}
            {% assets "search_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
            {% endassets %}
            <link rel="stylesheet" href="{% static "search/fontello/css/fontello.css" %}">
            <link rel="stylesheet" href="{% static "search/select2/select2.css" %}">
        {% endblock %}
        <title>Akorn {% block pagetitle %}{% trans "open science" %}{% endblock %}</title>
        {% block canonical %}{% endblock %}
        {% block og_meta %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="{% url "main" %}">Akorn</a>
                <nav id="menu">
                    <ul>
                        <li><a href="{% url "about" %}">{% trans "About" %}</a></li>
                        <li><a href="http://blog.akorn.org/">{% trans "Blog" %}</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="#">{% trans "Account" %}</a></li>
                        <li><a href="{% url "auth_logout" %}">{% trans "Log out" %}</a></li>
                        {% else %}
                        <li><a href="{% url "accounts:register" %}">{% trans "Sign up" %}</a></li>
                        <li><a href="{% url "auth_login" %}?next={{ request.path }}">{% trans "Log in" %}</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

        {% block container %}
        <div id="content" class="container-fluid">
            <div class="row-fluid">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        {% endblock %}
    {% block scripts %}
        {% assets "search_js_libs" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}
    </body>
</html>
