{% extends 'page.html' %}
{% load i18n assets print_results %}

{% block style %}
    {{ block.super }}
    {% assets "sim_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
<div id="config" class="span5">
    <h2>Config</h2>
    {{ form.errors }}
    <form name="config" action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
        <input class="btn-primary btn-large" type="submit" value="Run" />
        </p>
    </form>
</div>
<div id="preview" class="span5">
    <h2>Preview</h2>
    {% if error %}
        <div class="alert alert-error">
        <h4>Error</h4>
        <p>{{ error }}</p>
        </div>
    {% else %}
        {{ scraped|to_dl }}
    {% endif%}
</div>
{% endblock %}
