{% load humanize %}
{% for doc in docs %}
<li>
<h3><a href="{% url search:viewdoc doc.docid %}" title="{{ doc.title }}">{{ doc.title|truncatewords:12 }}</a></h3>
<p class="meta"><span class="authors">
    {% with author_count=doc.author_names|length %}
    {% if author_count > 3 %}
        {{ doc.author_names|slice:"2"|join:", " }} &hellip;
        {{ doc.author_names|last }}
    {% else %}
        {{ doc.author_names|join:", " }}
    {% endif %}
    {% endwith %}</span> —
    <span class="journal">{{ doc.citation.journal }}</a></span></p>
</li>
{% endfor %}
