{% extends 'page.html' %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}search/js/tag-it.js"></script>
<script src="{{ STATIC_URL }}search/js/main.js"></script>
{% if last_visit %}
<script type="text/javascript">
// TODO There is probably a better way to do this
akorn.last_visit = "{{ last_visit|date:"c" }}";
</script>
{% endif %}
{% endblock %}

{% block content_class %}search{% endblock %}
{% block content %}
<form action="/search/" method="get" class="form-inline">
    <input type="text" name="q" placeholder="Search" id="search"><button id="save_search" class="btn btn-primary" disabled="disabled" title="Save this search"><i class="icon-leaf icon-white"></i></button>
</form>
<ul id="latest_articles" class="articles">
</ul>

<ul id="saved_searches">
        {% for search in saved_searches %}
        <li><a href="{{ search }}">{{ search }}</a>
        {% endfor %}
</ul>
{% endblock %}
