{% extends 'page.html' %}

{% block content %}
  <script>
    $.get('/api/latest/100', {}, function(data) {
             for(i in data) {
               doc = data[i]
               published = new Date(doc.date_published*1000);
               e = $('<li><a href="' + doc.ids.url + '">' + doc.citation.journal + ' ' + published.toDateString() + ' '+ doc['title'] + '</a></li>');

               $('#latest_articles').append(e);
             }
           }, 'json');
  </script>

  <ul id='latest_articles' class='articles'>
  </ul>
{% endblock %}
