{% extends 'page.html' %}
{% load search_filters %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}search/js/tag-it.js"></script>
<script src="{{ STATIC_URL }}search/js/main.js"></script>
{% if last_visit %}
<script type="text/javascript">
// TODO There is probably a better way to do this
akorn.last_visit = "{{ last_visit|date:"c" }}";
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="span9 search">
<form action="/search/" method="get" class="form-inline">
    <input type="text" name="q" placeholder="Search" id="search"><button id="save_search" class="btn btn-primary" disabled="disabled" title="Save this search"><i class="icon-leaf icon-white"></i> Save</button>
</form>
<ul id="latest_articles" class="articles">
</ul>
</div>

<div class="span3">
<ul id="saved_searches" class="nav nav-tabs nav-stacked">
        {% for search in saved_searches %}
        {% spaceless %}
        <li><a href="{{ search }}">{{ search|short_query }}</a></li>
        {% endspaceless %}
        {% endfor %}
</ul>
</div>
{% endblock %}
