{% extends 'page.html' %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}search/js/main.js"></script>
<script type="text/javascript">
// When the document has loaded start the show
$(document).ready(function() {
        var ak = akorn;
        var query = "{{ journal }}";
        ak.query = query;
        ak.articles_container = $('#latest_articles');
        ak.get_articles(20, undefined, query, true);
        $(window).scroll(ak.throttle(function() {
            ak.check_position();
        }, 250));
    });
</script>
{% endblock %}

{% block content_class %}journal_page{% endblock %}
{% block content %}

<div class='span12'>
  <h1>{{ journal.name }}</h1>
  Also known as: {% for alias in journal.aliases %}{{ alias }}{% if not forloop.last %}, {% endif %}{% endfor %}
</div>

<div class='span8'>
  <h3>Latest articles</h3>
  <ul id='latest_articles' class='articles'>
  </ul>
</div>

{% endblock %}
