<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="{{ STATIC_URL }}search/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}search/css/ui-lightness/jquery-ui-1.8.22.custom.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}search/css/grid.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}search/css/base.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}search/css/jquery.tagit.css">
        <title>Akorn {% block pagetitle %}open science{% endblock %}</title>
        {% block canonical %}{% endblock %}
        {% block og_meta %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">AKORN</a>
                <ul class="nav">
                    <li><a href="/about/">About</a></li>
                </ul>
            </div>

        </div>

        <div id="content" class="container-fluid">
            <div class="row-fluid">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    {% block scripts %}
    <script src="{{ STATIC_URL }}search/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}search/js/jquery.jsonp-2.4.0.min.js"></script>
    <script src="{{ STATIC_URL }}search/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}search/js/jquery-ui-1.8.22.custom.js"></script>
    {% endblock %}
    </body>
</html>
