<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
        <link rel="stylesheet" href="{{STATIC_URL }}search/css/ui-lightness/jquery-ui-1.8.22.custom.css">
        <link rel="stylesheet" href="{{STATIC_URL}}search/css/grid.css">
        <link rel="stylesheet" href="{{STATIC_URL}}search/css/base.css">
        <link rel="stylesheet" href="{{STATIC_URL}}search/css/jquery.tagit.css">
        <title>Akorn {% block pagetitle %}open science{% endblock %}</title>
        {% block canonical %}{% endblock %}
        {% block og_meta %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
	    <a class="brand" href="/">AKORN</a>
            </div>
        </div>

        <div id="content" class="container-fluid">
            <div class="row-fluid">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    {% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}search/js/jquery-ui-1.8.22.custom.js"></script>
    {% endblock %}
    </body>
</html>
