$white: #fff;

$main_text: #666666;
$link_text: #3ddad3;
$header_text: #4d4d4d;
$feature_color: #009bf7;
$background: #f2f2f2;
$nav_text: $white;

$tagit_background: $white;

$hr_indent: #e2e2e2;
$hr_highlight: $white;

$header_top: $feature_color;
$header_bottom: #b1efec;

$flag_color: $feature_color;
$flag_hover_color: rgb(207, 211, 213);
