$white: #fff;
$black: #000;

$main_text: #252525;
$link_text: #215052;
$header_text: #4d4d4d;
$background: #fafafa;
$nav_text: $white;

$hr_indent: #e2e2e2;
$hr_highlight: $white;

$header_top: #00A26B;
$header_bottom: #00A56D;

$cards_bottom: #257B8A;
$cards_top: #26707C;

$date_block: #cccccc;
