$white: #fff;
$black: #000;

$main_text: #252525;
$feature_color: #009bf7;
$link_text: $feature_color;
$header_text: #4d4d4d;
$background: #fafafa;
$nav_text: $white;

$hr_indent: #e2e2e2;
$hr_highlight: $white;

$header_top: $feature_color;
$header_bottom: #00c6ed;

$flag_color: $feature_color;

$cards_bottom: #717171;
$cards_top: #9e9e9e;

$date_block: #cccccc;
