@import "colors.scss";
@import "mixins.scss";

body {
    @include gradient($background, $white);
    color: $main_text;
}

a {
    color: $link_text;
}

.navbar a, .navbar {
    color: $nav_text !important;
}

.container-fluid {
    padding: 0;
    background-color: $background;
}

#search_bar {
    margin-left: 16em;

    form {
        margin: 2em 0;

        /* Turn off blue halo */
        input, input:focus, input:active {
            background: none;
            outline: 0px !important;
            -webkit-appearance: none !important;
            border: none !important;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        button {
            margin-left: 1em;
        }
    }

    div {
        background: #fff;
        width: 50%;
    }
}

hr {
    border-top: 1px solid $hr_indent;
    background: $hr_highlight;
    height: 1px;
}

.btn-primary {
    background-color: $feature_color !important;
    background-image: none;
    border-radius: 0px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 0 !important;
}

a.brand {
    margin-left: 0.1em !important;
    font-size: 3em !important;
}

p.lead {
    margin-right: 1.5em;
    margin-top: 0.5em;
    font-size: 190%;
}

.nav li a {
    text-transform: uppercase;
    text-shadow: none !important;
    /* Using this to vertically centre the text relative to brand */
    line-height: 250% !important;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inner {
    padding-top: 2em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 8em;
}

.navbar-inner {
   @include gradient($header_top, $header_bottom);
}

#account-bar {
    float: right;
    clear: both;
    margin-right: 1.5em;

    li {
        display: inline;
        list-style-type: none;
        padding: 0 0.8em;
        margin: 0;
        border-left: 1px solid $nav_text;

        /* Turn off border separator for first item */
        &:first-child {
            border-left: none;
        }
    }
}

#login, #signup {
    margin: 2em auto 0 auto;
    width: 22%;
    text-align: center;

    .errorlist {
        display: none;
    }

    input {
        width: 100%;
        font-size: 110%;

        &[type="submit"] {
            width: 20%;
        }
    }

    label {
        font-weight: bold;
        text-align: left;
    }
}

#latest_articles {
    h2 {
        font-size: 150%;
        color: $main_text;
        margin: 1em 0;
        padding: 0;
        line-height: 1;
    }

    li {
        padding-left: 2em;
        min-height: 4em;
        list-style: none;
        margin-bottom: 1.2em;
        border-left: 1px solid $feature_color;

        $triangle_size: 15px;
    
        .flag:hover {
            @include triangle($flag_color, $triangle_size);
        }

        .flag {
            /* For some reason using a variable name won't work here */
            @include triangle(rgb(226, 226, 226), $triangle_size);
            cursor: pointer;
        }

        p.abstract {
            text-align: justify;
        }

        h3 {
            font-size: 120%;
            a {
               color: $main_text; 
            }
        }

        span.original a {
            color: #aaa;
            font-size: 80%;
        }

        span.journal {
            font-style: italic;
        }
    }
}

#saved_searches {
    li {
        /* Setting position to allow bottom position of terms */
        position: relative;
        list-style-type: none;
        @include gradient($cards_top, $cards_bottom);
        width: 10em;
        height: 10em;
        margin: 0.5em;
        padding: 0.5em;
        color: $white;

        &:hover, &.selected {
            color: $black;
            @include gradient($white, $background);
        }

        .count {
            font-size: 500%;
            position: relative;
            top: 0.3em;
        }
        .delete {
            font-size: 300%;
            color: $cards_bottom;
            float: right;
            cursor: pointer;
            margin-top: 0.1em;
            &:hover {
                color: $white;
            }
        }
        .terms {
            position: absolute;
            left: 1em;
            bottom: 0px;
        }
    }
}
